[Unit]
Description=pyews
After=multi-user.target

[Service] 
Type=simple 
ExecStart=/home/pi/pyews/venv/bin/python /home/pi/pyews/app.py
User=pi
WorkingDirectory=/home/pi/pyews
Restart=on-failure
StandardOutput=journal
StandardError=journal
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target
